<div class="box">
  <%= link_to (image_tag pin.image(:medium)), pin %>
  <p class="pin-description">
  	<%= pin.description %>
  </p>
  <p>
 	<%= link_to 'Edit', edit_pin_path(pin) %>
  	<%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
</div>
