<div>
  <div class='kittenspirations'>
    <h1>Kittenspirations</h1>
  </div>
  <div class='add-pin'>
    <% if user_signed_in? %>
    <%= link_to "Add +", new_pin_path %>
    <% end %>
  </div>
</div>
<div class='all-pins'>
  <div id="pins">
    <%= render @pins %>
  </div>
</div>
