/*@import url(http://fonts.googleapis.com/css?family=Playfair+Display);

@import url(http://fonts.googleapis.com/css?family=Muli);*/

@import url(http://fonts.googleapis.com/css?family=Dancing+Script);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

.hero-unit h1 {
  font-family: Dancing Script;
  /*color: #CCFFFF;*/
  margin-bottom: 15px;
  text-align: center;
}

body {
  font-family: Josefin Sans;
  padding-top: 60px;
  background-color: #1a1a1a;
  color: #999999;
  padding-top: 20px;
  padding-bottom: 40px;
}


/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 710px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/*Top navigation*/
.nav-pills > li > a:hover {
  color: #E56E6A;
  background-color: #000;
}

.nav-pills > li > a {
  color: #ffffff;
  background-color: #2a2a2a;
}

.twitter-link
{
  min-width: 180px;
}
a {
color: #E56E6A;
text-decoration: none;
}

a:hover {
  color: #27927d;
  text-decoration: none;
  background-color: none;
}

h3.muted a:hover {
  color: #27927d;
  text-decoration: none;
}

/*a:hover {
  color: ;
}*/

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #999999;
    margin: 1em 0; padding: 0; }

hr.home-hr {
  margin-bottom: 0;
}

/* Main marketing message and sign up button */
.hero-unit h1 {
  font-size: 72px;
  line-height: 1;
  color: #ff6666;
}

.hero-unit {
  font-size: 72px;
  line-height: 1;
  text-align: center;
  color: #f2f2f2;
  background-color: #2a2a2a;
}

/*.jumbotron {
  margin: 60px 0;
  text-align: center;
  background-color: #E56E6A;
  color: #F1F1F1;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}*/
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 0 0;
  color: #66626B;
}

.marketing h4:nth-child(1),
.marketing h4:nth-child(2) {
  margin-top: 0px;
}

.marketing p {
  margin-top: 10px;
  margin-bottom: 0;
  color: #999999;
}

.marketing h4 {
  margin-top: 30px;
}

.marketing h4 a{
  color: #66626B;
}

.marketing .span6 {
  margin-top: 25px;
}

/*Sub page containers*/

h2, h3, h4 {
 color: #66626B;
}

/* For adding pins */

.kittenspirations,
.add-pin {
  float: left;
}

.add-pin {
  margin-top:1.5em;
  margin-left:2.0em;
}

.all-pins {
  clear:both;
}

.pin-description {
  margin: 10px 0px 5px;
  font-size: medium;
}

.show-pin {
   margin:0 auto;
   float:none;
   font-size: medium;
}

/* Required for jQuery Masonry */

.box {
  margin: 5px;
  padding: 5px;
  font-size: 11px;
  line-height: 1.4em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  width: 214px;
}

.box img {
  display: block;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
