<script>
$(document).ready(function(){
  var hash = window.location.hash;
  if(hash == '#tab2') {
    $('li a.blog').click();
  }
});
</script>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">All About Me</a></li>
    <li><a class='blog' href="#tab2" data-toggle="tab">Blogs&Articles</a></li>
    <li><a href="#tab3" data-toggle="tab">Current Work</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <h2>All About Me</h2>
        <p>Hi! I'm Kaitlin. I love to read, to write & to learn new things. Never fear! I will be adding more to this site every day, so if it looks a little empty now, check back soon. :)<br>Need something to do in the meantime?</p>
        <p><%= link_to "See my kitten Dobby", pins_path, :class => "btn" %></p>
    </div>
    <div class="tab-pane" id="tab2">
      <h2>Blogs&Articles</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="tab-pane" id="tab3">
      <h2>Current Work</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>
</div>
