
      <div class="hero-unit">
        <h1>Kaitlin Carpenter</h1>
        <p class="lead">I'm a writer, communicator & social media strategist.<br>Most importantly, I'm a lifelong learner and am never afraid to try something new.</p>
        <!-- <a class="btn btn-large btn-success" href="#">Sign up today</a> -->
      </div>

      <hr class="home-hr">

      <div class="row-fluid marketing">
        <div class="span6">
          <h4><a href="/kittenspiration">Kittenspiration</a></h4>
          <p>Don't fight it. You would love to see pictures of my kitten Dobby. Especially when he's wearing his tie.</p>

          <h4>Why isn't this site done?</h4>
          <p>I'm using this as my space to learn programming. Working on something you know other people can see is strong encouragement.</p>

          <h4>Anything else?</h4>
          <p>No, not yet. I'll add more stuff as I learn how to create it. Feel free to send me ideas.</p>
        </div>

        <div class="span6 col2">
          <h4>Big Ideas</h4>
          <p>I have them sometimes, and I'm considering sharing a few with you.</p>

          <h4><a href="/about#tab2">Blogs&Articles</a></h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Contact Me</h4>
          <p>Let's connect on social media, or click here to contact me directly.</p>
        </div>
      </div>

