<!DOCTYPE html>
<html>
<head>
  <title>Kaitlin Carpenter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container-narrow">

    <div class="masthead">
      <ul class="nav nav-pills pull-right">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <h3 class="muted">
    <a href="https://twitter.com/suchthekaitlin"><i class="icon-twitter"></i> suchthekaitlin</a>
    <a href="http://www.linkedin.com/in/kaitlincarpenter"><i class="icon-linkedin"></i> </a>
    <a href="http://pinterest.com/suchthekaitlin/my-work-contributions/"><i class="icon-pinterest"></i> </a>
    <a href="http://www.facebook.com/SuchtheKaitlin"><i class="icon-facebook"></i> </a>

      </h3>
    </div>
    <hr>
    <%= yield %>
    <hr>
    <div class="footer">
      <p>Kaitlin Carpenter</p>
    </div>
  </div>
</body>
</html>
